<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title class="text-red">Data Spider</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="sb-topnav navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="index.html">Dashboard</a><!-- Navbar Search-->
<!--             <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form> -->
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_content is-mobile">
                <main>
                    <div class="container-fluid">
                        <h1>Data Spider</h1>
                        <div>
                            <p>Aplicación de Web Scraping. Un proyecto open source desarrollado en Python. Al agregar una url <code>https://www.example.com</code> se extrae información de cualquier sitio web. Librerías implementadas <code>NlTK (Natural Language Toolkit)</code> y <code>BeautifulSoup</code>.</p>
                        </div>
                        <h4 class="mt-4">Introduce una URL</h4>
                        <ol class="breadcrumb mt-4">
                                <input class="form-control col-xl-3" id="url" type="text" placeholder="https://www.example.com" aria-label="url" aria-describedby="basic-addon2" />
                                <div class="input-group-append col-xl-3">
                                    <button class="btn btn-primary get-page" type="submit"><i class="fas fa-search"></i></button>
                                </div>
                        </ol>
                        <div><span id="message"></span></div>
                        <div class="row">
                            <div class="col-xl-6 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Encabezado</div>
                                    <div id="title" class="card-footer d-flex align-items-center justify-content-between">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Palabras más frecuentes</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <p id="freq_words"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Total datos extraídos</div>
                                    <div id="total_sentences" class="card-footer d-flex align-items-center justify-content-between">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl">
                                <div class="card bg-info text-white mb-2">
                                    <div class="card-body">Datos</div>
                                    <div id="news" class="card-footer d-flex align-items-center justify-content-between phrase">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl">
                                <div class="card mb-4">
                                    <div class="card-header"><i class="fas fa-chart-area"></i>Frecuencia de palabras</div>
                                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header"><i class="fas fa-table mr-1"></i>Resultados</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Data Spider 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'assets/demo/chart-area-demo.js' %}"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'assets/demo/datatables-demo.js' %}"></script>
    </body>
</html>
